.callout
  .col-lg-12
    .row
      %h1
        

.container
  .col-lg-5.col-md-5
    = render "dog_form"
  
  .col-lg-6.col-md-6.col-lg-offset-1.col-md-offset-1.instructions
    .jumbotron
      .row
        %h2
          Instructions:
        %p
          Ever wonder when you and your dog will be the same relative age? 
        %p
          Find that magical moment that you and your best friend cross paths on your journey through this universe with the power of DogDay! 
        %p
          Using the latest in predictive algorithms, quantum mechanics, and telepathy, DogDay's simple to use interface will nail down the day you pass the torch to Fido as your elder. 
        %p
          Simply enter in your birthday's, select your dog's breed size, and go fetch!
.callout
  .col-lg-12
    .row
      %h1
.row

-##banner
-#  = render "bstretch"
-#  .container
  -#  .col-lg-5.col-md-5.col-lg-offset-1.col-md-offset-1
  -#    .dog
  -#      .head
  -#        .nose
  -#        .ear
  -#      .body
  -#        .paw
  -#        .tail
  -#      .bone
  -#        .left
  -#        .right
  -#    .col-lg-12
  -#      .renderdate





