.outer
  .header-2
    / Container
    .container
      .row
        .col-md-3
          / Logo section
          .logo
            %h1
              %a{:href => "#"}
                %i.fa.fa-plus
                DogDay
        .col-md-9
          / Navigation starts.
          .navy
            %ul
              / Main menu
              %li
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Mission
              %li
                %a{:href => "#"} Stats
              %li
                %a{:href => "#"} DogDay
              %li
                %a{:href => "#"} Contact
  .main-block
    .cta-nine
      .container
        .cta-six-content
          .row
            .col-md-9
              %h1


    .container
      .block-heading-four
        %h3
          Discover the day you and your canine companion become the same relative age
    %br/
    
    #dogcalc.container
      .col-lg-5.col-md-5
        = render "dog_form"
      
      .col-lg-6.col-md-6.col-lg-offset-1.col-md-offset-1.instructions
        .jumbotron
          .row.jumborow
            %h2
              Instructions:
            %p
              Ever wonder when you and your dog will be the same relative age? 
            %p
              Find that magical moment that you and your best friend cross paths on your journey through this universe with the power of DogDay! 
            %p
              Using the latest in predictive algorithms, quantum mechanics, and telepathy, DogDay's simple to use interface will nail down the day you pass the torch to Fido as your elder. 
            %p
              Simply enter in your birthday's, select your dog's breed size, and go fetch!

    / .cta-nine
    /   .container
    /     .cta-nine-content
    /       .row
    /         .col-md-9
    /           %h1
    / .container
    /   .block-heading-four
    /     %h3
    /       What we're trying to do
    / .container
    /   .row
    /     %p
    /       Lorem ipsum dolorem

    / .container
    /   #bs-carousel-2.carousel.slide{"data-interval" => "5000", "data-pause" => "hover", "data-ride" => "carousel", "data-wrap" => "true"}
    /     .carousel-inner
    /       / Item, First item should have extra class "active"
    /       .item.active
    /         / Image
    /         =image_tag "redwood-bg1.jpg"
    /         / Caption
    /         .carousel-caption.c-bottom-right
    /           / Heading
    /           %h4
    /             Huxley Furpaw
    /           / Para
    /           %p Huxley in his natural environment: enveloped in a redwood forest.
    /   %br/



    / .container
    /   .col-lg-5.col-md-5.col-lg-offset-1.col-md-offset-1
    /     .dog
    /       .head
    /         .nose
    /         .ear
    /       .body
    /         .paw
    /         .tail
    /       .bone
    /         .left
    /         .right
    /       .col-lg-12
    /         .renderdate





