.outer
  .header-2
    / Container
    .container
      .row
        .col-md-3
          / Logo section
          .logo
            %h1
              %a{:href => "#"}
                %i.fa.fa-plus
                DogDay
        .col-md-9
          / Navigation starts.
          .navy
            %ul
              / Main menu
              %li
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Mission
              %li
                %a{:href => "#"} Stats
              %li
                %a{:href => "#"} DogDay
              %li
                %a{:href => "#"} Contact
  .main-block
    .cta-six
      .container
        .cta-six-content

    .container
      .block-heading-four
        %h3
          Discover the day you and your canine companion become the same relative age
    %br/
    
    #dogcalc.container
      .col-lg-5.col-md-5
        = render "dog_form"
      
      .col-lg-6.col-md-6.col-lg-offset-1.col-md-offset-1.instructions
        .jumbotron
          .row.jumborow
            %h2
              Instructions:
            %p
              Ever wonder when you and your dog will be the same relative age? 
            %p
              Find that magical moment that you and your best friend cross paths on your journey through this universe with the power of DogDay! 
            %p
              Using the latest in predictive algorithms, quantum mechanics, and telepathy, DogDay's simple to use interface will nail down the day you pass the torch to Fido as your elder. 
            %p
              Simply enter in your birthday's, select your dog's breed size, and go fetch!
      %br/
    .cta-nine
      .container
        .cta-nine-content

    .container
      .block-heading-four
        %h3
          %span What we're trying to do
    .container
      .divider-1
        .block-heading-two
          %h3
            %span Huxley Needs Knees
        .row
          .col-md-4.col-sm-6
            %p Huxley needs a knee! (Say that five times fast.) I recently found out my dog, co-pilot, and best friend Huxley has two torn cranial cruciate ligaments, which are the dog equivalent of a human ACL. Veterinary bills are going to add up, and we are trying to raise money for these costly procedures.
            %ul.list-2
              %li A typical TTA procedure costs $4400 for one knee
              %li The recovery time is 6 months
              %li Over 95% of dogs go through the procedure complication free
              %li Most dogs will regain full activity after a TTA
              %li Neglecting surgical intervention will dramatically reduce a dog's quality of life and lifespan
            %br/
          .col-md-4.col-sm-6
            %h5 Our Story
            %p Curious to know the legend of Huxley? Read more to find out a bit about his history!
            #accordion-alt3.panel-group.accordion-alt3
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseOne-alt3"}
                      %i.fa.fa-angle-right
                      Early Life
                #collapseOne-alt3.panel-collapse.collapse
                  / Panel body
                  .panel-body
                    January of 2010, the great gleaming cogs of the universe line up just right as me and Huxley fortuitously cross paths. He was six weeks old, born to a loved Lab/Hound mix in Oroville California. His father, a kind stray, had recently been picked up by animal control, after gaining local lore for allegedly evading the law for over two years.
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseTwo-alt3"}
                      %i.fa.fa-angle-right
                      Puppy Hood
                #collapseTwo-alt3.panel-collapse.collapse
                  .panel-body
                    We went through puppy-hood in Chico California, spending long days with friends hiking, swimming in Big Chico Creek, and playing music on porches. I quickly learned that Huxley was going to be a big, big dog. He was a quick learner, and took to riding next to the bike in no time. He learned well from his dog sisters Indie and Lola. 
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseThree-alt3"}
                      %i.fa.fa-angle-right
                      Into Dog-Hood
                #collapseThree-alt3.panel-collapse.collapse
                  .panel-body
                    In 2011 we moved to San Francisco, where Huxley swam and romped daily in the Pacific. Meanwhile, I cleaned sand out of every fabric I owned. In late 2012, Huxley began limping. We visited two different vets, who diagnosed it as early onset hip dysplasia due to his size. Hux eventually lost his limp, and continued to party hard at the beach,swim at leisure, and play in the redwoods. 
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseFour-alt3"}
                      %i.fa.fa-angle-right
                      Huxley Heads East & Back
                #collapseFour-alt3.panel-collapse.collapse
                  .panel-body
                    %p By 2013, the city had us down. Golden Gate Park and the Pacific just weren't enough to quench our wanderlust. We took off with Sprout (the third member of our pack) East, to go thru-hike the Appalachian Trail. Huxley spent most of this trip eating cheese and sleeping on a feather bed thanks to the gracious host and surrogate Mom in Sprouts Mom.
                    %p After spending a few months visiting family and reacquainting ourselves with civilian life, we took off out West to a cabin in the woods in Sisters, OR. Currently, we live and work in Bend, OR at an incredibly pro-dog Web Development company where Huxley comes to work daily and is fed cheese treats.    
          .col-md-4.col-sm-6
            %h5 Our Goals
            %p Listed below is the current status of our fundraising efforts. These numbers will be adjusted weekly as soon as the site launches.
            %br/ 
            %h6 Personal Funds
            .progress.pb-sm
              / White color (progress-bar-white)
              .progress-bar.progress-bar-green{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", :role => "progressbar", :style => "width: 45%"}
                %span.sr-only 40% Complete (success)
            %em $4000
            %h6 How Much Has Been Raised
            .progress.pb-sm
              .progress-bar.progress-bar-lblue{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", :role => "progressbar", :style => "width: 5%"}
                %span.sr-only 40% Complete (success)
            %em $500
    .cta-ten
      .container
        .cta-ten-content
    .container
      .block-heading-four
        %h3
          %span How You Can Help
    .container
      .divider-1
        .block-heading-two
          %h3
            %span Donate
        .row
          .col-md-4.col-sm-6
            %p There are a lot of terrific causes to support; from funding research, fostering children, to your second cousin's neo-folk demo album. Why should you donate to Huxley? 
            %p Maybe the better question is, why shouldn't you?
            %br/
          .col-md-4.col-sm-6
            %h5 Give & Ye Shall Receive
            %p This isn't a one way street. It isn't even a two way street. This is an interstate of love. If you donate your hard earned bucks to help my best friend out, we'd only feel right if we gave you something in return.
            #accordion-alt3.panel-group.accordion-alt3
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseOne-alt3"}
                      %i.fa.fa-angle-right
                      $0.01 - $10
                #collapseOne-alt3.panel-collapse.collapse
                  / Panel body
                  .panel-body
                    Something Awesome...
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseTwo-alt3"}
                      %i.fa.fa-angle-right
                      $11 - $30
                #collapseTwo-alt3.panel-collapse.collapse
                  .panel-body
                    Something Awesome...
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseThree-alt3"}
                      %i.fa.fa-angle-right
                      $31 - $100
                #collapseThree-alt3.panel-collapse.collapse
                  .panel-body
                    Something Awesome...
              .panel
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#accordion-alt3", "data-toggle" => "collapse", :href => "#collapseFour-alt3"}
                      %i.fa.fa-angle-right
                      >$100
                #collapseFour-alt3.panel-collapse.collapse
                  .panel-body
                    Something Awesome...  
          .col-md-4.col-sm-6

                  
            

    / .container
    /   #bs-carousel-2.carousel.slide{"data-interval" => "5000", "data-pause" => "hover", "data-ride" => "carousel", "data-wrap" => "true"}
    /     .carousel-inner
    /       / Item, First item should have extra class "active"
    /       .item.active
    /         / Image
    /         =image_tag "playa-bg3.jpg"
    /         / Caption
    /         .carousel-caption.c-bottom-right
    /           / Heading
    /           %h4
    /             Huxley Furpaw
    /           / Para
    /           %p Huxley in his natural environment: enveloped in a redwood forest.
    /   %br/



    / .container
    /   .col-lg-5.col-md-5.col-lg-offset-1.col-md-offset-1
    /     .dog
    /       .head
    /         .nose
    /         .ear
    /       .body
    /         .paw
    /         .tail
    /       .bone
    /         .left
    /         .right
    /       .col-lg-12
    /         .renderdate





