//import bootstrap
@import "bootstrap";

$bg: #f5dc9a;
$arrow: #d43723;
$arrowhover: #8a1a0b;

html,body {
  background: $bg
}

/* Form */

.container-calc {
  margin-left: 2em;

  .row {
    margin-bottom: 1em;
  }

  h1 {
    text-align: center;
  }

  .float-right {
    float:right;
    margin-right:5em;
  }
}

.container-arrow {
  width:95%;
  height:95%;
  position: relative;
  margin:20px auto;
}

span {
  transition: all 0.5s ease;
  position: absolute;
  height: 0;
  width: 0;
  border: 95px solid transparent;
  border-radius:2%;
}
span:after {
  transition: all 0.5s ease;
  background-color: $arrow;
}
span:hover:after {
  background-color: $arrowhover;
}



/* Right Arrow */

.right {
  top: 420px;
  left: 850px;
  border-left-color: $arrow;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
.right:hover {
  border-left-color: $arrowhover;
}

.right:after {
  content: "";
  display: block;
  height: 100px;
  width: 950px;
  margin-left: -1000px;
  margin-top: -50px;
}



/* Left Arrow */

.left {
  top: 420px;
  right: 850px;
  border-right-color: $arrow;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}
.left:hover {
  border-right-color: $arrowhover;
}

.left:after {
  content: "";
  display: block;
  height: 100px;
  width: 900px;
  margin-left: 90px;
  margin-top: -50px;
}


