//import bootstrap
@import "bootstrap";




html,body {

}

/* Form */


.jumbotron{
   opacity: 0.7;
}

.row {
  margin-bottom: 5px;
}

.float-right {
  float:right;
  margin-right:5em;
}

.margin-bottom{
  margin-bottom: 5em;
}

.form-control{
  width:75%;
}

.margin-left32{
  margin-left: -32px;
}





